html, body{
	font-family: Lato;
}
body{
	display: inline-block;
}

.urban-logo-text{
	font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: right;
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.county-borders {
  fill: none;
  stroke: none;
  /*stroke-width: 0.5px;*/
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
.countyPath.hide{
	fill: #9d9d9d !important;
	stroke: #9d9d9d !important;
}
.countyPath.zoomed{
	stroke: #ffffff !important;
	stroke-width: .25px !important;
}
.mouseover, .clicked{
	/*fill: #fdbf11 !important;*/
	stroke: #fdbf11 !important;
    stroke-width: 3px;
}
#legendTitle{
	font-style: italic;
    font-size: 16px;
}
.keyItem{
	font-size: 12px;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  pointer-events: none;
}
#zoomOut{
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
}
.barsLabel{
	font-size: 20px;
	font-weight: bold;
}
.barCat{
	font-family: Lato;
	font-size:14px;
	font-weight: bold;
}
.barVal{
	font-family: Lato;
	font-size: 14px;
}

#map,#bars{
	display: inline-block;
	float: left;
}
#bars{
	margin-left: 20px;
}
#countyLabel{
	font-size: 16px;
	font-weight: bold;
}
#tt-text{
	font-size: 18px;
    margin-top: 20px;
    line-height: 24px;
}
#tt-dollars{
	font-weight: bold;
	color: #1696d2;
}
@media(max-width: 900px){
	.urban-logo-text{
	    bottom: 0px;
		right: 30px;
	}
	#bars{
		margin-top: 60px;
	}
}
.button{
    padding: 10px 20px;
    position: absolute;
    background: #d2d2d2;
    color: #696969;
    top: 17px;
    left: 350px;
    cursor: pointer;
}
.button.active, .button:hover{
    color: #fff;
    background: #1696d2;
}
.button.snapButton15{
    left: 447px;
}



/********** TOGGLE STYLES ***************/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 67px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E4E4E4;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 0;
    bottom: 0;
    background-color: #898787;
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    background-color: #1696d2;
    -webkit-transform: translateX(44px);
    -ms-transform: translateX(44px);
    transform: translateX(44px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 11px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggleGroup {
    width: 275px;
    font-size: 1rem;
}

.toggleGroup > p {
    font-size: 1.125rem;
    border-bottom: 1px solid #bcbcbc;
}

.toggle {
    position: absolute;
    top: 4px;
    left: 416px;
}

.toggleLabel {
    display: block;
    margin-bottom: 0.5em;
}
