html, body{
	font-family: Lato;
}
body{
	display: inline-block;
    margin: 0px;
}

.urban-logo-text{
	font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: right;
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.county-borders {
  fill: none;
  /*stroke: white;*/
  /*stroke-width: 0.2px;*/
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
.countyPath{
    stroke: white;
    stroke-width: .3;
}
.countyPath.hide{
	fill: #9d9d9d !important;
	stroke: #9d9d9d !important;
    pointer-events: none !important;
}
.countyPath.disabled, .countyPath.disabled.zoomed, .countyPath.disabled.hide{
    fill: #d2d2d2 !important;
    stroke: #d2d2d2 !important; 
    pointer-events: none !important;
}
.countyPath.zoomed{
	/*stroke: #ffffff !important;*/
	/*stroke-width: .25px !important;*/
}
.mouseover, .clicked, .countyPath.mouseover.zoomed, .countyPath.clicked.zoomed{
	/*fill: #fdbf11 !important;*/
	stroke: #000 !important;
    stroke-width: 1px;
}
.countyPath.mouseover.zoomed, .countyPath.clicked.zoomed{
    /*stroke-width: 1px !important;*/
}
.countyPath.clicked.hide{
    stroke-dasharray: .4 1;
    stroke-width: .4px !important;
    stroke: #000 !important;
}
#legendTitle{
	font-style: italic;
    font-size: 16px;
}
.keyItem{
	font-size: 12px;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  pointer-events: none;
}
#zoomOut{
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
}
.barsLabel{
	font-size: 20px;
	font-weight: bold;
}
.barCat{
	font-family: Lato;
	font-size:14px;
	font-weight: bold;
}
.barVal{
	font-family: Lato;
	font-size: 14px;
}

#map,#bars{
	display: inline-block;
	float: left;
    position: relative;
}
#zoom-in{
    position: absolute;
    display: inline-block;
    width: 30;
    height: 30;
    background: linear-gradient(#353535,#353535), linear-gradient(#353535,#353535), #d2d2d2;
    background-position: center;
    background-size: 50% 1.5px,1.5px 50%;
    background-repeat: no-repeat;
    right: 3px;
    bottom: 115px;
    cursor: pointer;
}
#zoom-in:hover{
    background: linear-gradient(#fff,#fff), linear-gradient(#fff,#fff), #1696d2;
    background-position: center;
    background-size: 50% 1.5px,1.5px 50%;
    background-repeat: no-repeat;
}
#zoom-out:hover{
    background: linear-gradient(#fff,#fff), #1696d2;
    background-position: center;
    background-size: 50% 1.5px,1.5px 50%;
    background-repeat: no-repeat;
}
#zoom-out{
    position: absolute;
    display: inline-block;
    width: 30;
    height: 30;
    background: linear-gradient(#353535,#353535), #d2d2d2;
    background-position: center;
    background-size: 50% 1.5px,1.5px 50%;
    background-repeat: no-repeat;
    right: 3px;
    bottom: 82px;
    cursor: pointer;
}
#bars{
	margin-left: 20px;
}
#countyLabel{
	font-size: 20px;
	font-weight: bold;
    position: relative;
    display: inline-table;
}
#tt-text{
	font-size: 18px;
    margin-top: 10px;
    line-height: 24px;
}
#tt-dollars{
	/*font-weight: bold;*/
	/*color: #1696d2;*/
}
#tt-percent{
font-weight: bold;
    background: #fdbf11;
    padding: 1px 10px;
    padding-bottom: 3px;
}

.button{
    padding: 10px 20px;
    position: absolute;
    background: #d2d2d2;
    color: #696969;
    top: 17px;
    left: 350px;
    cursor: pointer;
}
.button.active, .button:hover{
    color: #fff;
    background: #1696d2;
}
.button.snapButton15{
    left: 447px;
}



/********** TOGGLE STYLES ***************/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 67px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E4E4E4;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 0;
    bottom: 0;
    background-color: #898787;
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    background-color: #1696d2;
    -webkit-transform: translateX(44px);
    -ms-transform: translateX(44px);
    transform: translateX(44px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 11px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggleGroup {
    width: 275px;
    font-size: 1rem;
}

.toggleGroup > p {
    font-size: 1.125rem;
    border-bottom: 1px solid #1696d2;
}

.toggleContainer {
    position: absolute;
    top: 4px;
    left: 416px;
}
.toggleContainer.tc15{
    left: 600px;
}

.toggleLabel {
    display: block;
    margin-bottom: 0.5em;
}





.toggle.on {
    background-position: -41px 0px;
        background-color: #1696d2;

}
.toggle.off {
    background-position: .5px 0px;
    background-color: #9c9c9c;
}
.toggle {
    background-image: url(../toggle-bg.png);
    background-repeat: no-repeat;
    width: 72px;
    height: 30px;
    border-radius: 20px;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
    position: relative;
    -webkit-transition: background-position .1s ease-in;
    -moz-transition: background-position .1s ease-in;
    -o-transition: background-position .1s ease-in;
    transition: background-position .1s ease-in;
}
#ruccContainer{
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    top: -40px;
    position: relative;
    border-top: 1px solid #D2D2D2;
    height: 100px;
    background: white;
}
#ruccTitle{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 17px;
}
#ruccInnerContainer{
    width: fit-content;
    margin: 0 auto;
}
#ruccInnerContainer div.ruccInner:hover, #ruccInnerContainer div.ruccInner.ruccClicked{
    color: white;
    background: black;
    border: 1px solid black;
}
#ruccInnerContainer div.ruccInner{
    display: inline-block;
    float: left;
    margin-top: 20px;
    width: 35px;
    height: 31px;
    /* background: #dcdcdc; */
    margin-right: 19px;
    border: 1px solid #d2d2d2;
    /* border-radius: 100%; */
    font-size: 18px;
    font-family: 'Lato';
    top: -5px;
    text-align: center;
    cursor: pointer;
    padding-top: 7px;
    z-index: 2;
    background: white;
position: absolute;
    top: 39px;
}
#ruccInnerContainer img{
width: 560px;
left: calc(50% - 291px);
position: absolute;
z-index: 1;
top: 74px;
}
#ruccMore, #ruccLess{
    position: absolute;
    font-style: italic;
    font-size: 14px;
    top: 70px;
}
#ruccLess{
    left: 92px;
}
#ruccMore{
    right: 116px;
}
.ui-selectmenu-button.ui-button {
    display: block;
    margin-left: 14px;
}
h2{
    font-size: 24px;
    margin-left: 14px;
}
#ruccLabel{
    position: relative;
    width: 136px;
    margin-bottom: 12px;
}
#ruccPopup{
    position: absolute;
    bottom: 3px;
    background: black;
    color: white;
    padding: 24px 15px;
    left: 140px;
    width: 165px;
}
.ruccLabelTt{
    display: inline-block;
    font-size: 17px;
    background: #d2d2d2;
    width: 21px;
    padding-bottom: 5px;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    font-weight: bold;
    margin-left: 7px;
    color: black;
    cursor: pointer;
    position: relative;
    top: -1px;
}
.ruccLabelTt:hover{
    color: white;
    background: black;
}
.ruccLabelText{
    display: inline-block;
    color: #353535;
    font-size: 18px;
}
.ruccLabelText span{
    display: inline-block;
}
#notes{
    font-size: 11px;
    margin-top: -7px;
    height: 60px;
}
select{
    display: none;
}
@media(max-width: 900px){
    .urban-logo-text{
        bottom: 0px;
        right: 30px;
    }

    #bars{
        margin-top: -10px;
        margin-bottom: 40px;
    }
}
@media(max-width: 768px){
    .toggleContainer {
        top: 72px;
        left: calc(50% - 62px);
    }
    .ui-selectmenu-button.ui-button{
        width: calc(100% - 30px);
    }
    #tt-text br{
        display: none;
    }
    #tt-percent{
        margin-left: 6px;
    }
    #mapSvg{
        margin-top: 20px;
    }
    #zoom-out{
    right: -13px;
    bottom: 50px;
    }
    #zoom-in{
        right: -13px;
        bottom: 85px;
    }
    #ruccPopup{
        padding: 10px;
        width: 125px;
        font-size: 14px;
    }
    #ruccInnerContainer img, #ruccMore, #ruccLess{
        display: none;
    }
    body{
        padding-bottom: 30px;
    }
    h2{
        font-size: 21px;
    margin-left: 14px;
    width: calc(100% - 28px);
    }
    #bars{
        margin-bottom: 55px;
    }
}
@media(max-width: 350px){
    #ruccInnerContainer div.ruccInner{
        width: 25px;
    }
}